<div id="about">
    <div class="block">
        <a class="title">О сайте</a><br />
        <a class="text">По моему скромному мнению – будущее за узкоспециализированными сайтами, объединенными общей идеей. Существует множество брошенных форумов, порталов, которые были не удобны для использования. Так родилась идея данного сайта. Если вас заинтересовал данный сайт, можно получить собственную страничку группы, заполнив простую форму.</a><br />
    </div>
    <div class="block">
        <a class="title">Развитие</a><br />
        <a class="text">Все будет зависеть от популярности сайта. Либо он провесит до моего выпуска с 4 курса, либо он будет продолжать развиваться. Некоторые направления развития:
        <ul>
            <li>Доработка сайта до полноценной CMS.</li>
            <li>Смена дизайна.</li>
            <li>Добавление интеграции с почтой Google.</li>
            <li>Добавление поддоменов.</li>
            <li>Загрузка файлов на сайт.</li>
            <li>Добавление суперпользователя, который мог бы самостоятельно создавать страницы для групп своего университета.</li>
        </ul>
        Так же предложения принимаются по адресу studentsgroup7@gmail.com
        </a><br />
    </div>
    <div class="block">
        <a class="title">Реклама</a><br />
        <a class="text">Работает контекстная реклама в комментариях. Возможно, в будущем появятся ещё рекламные блоки, которые будут близки тематике сайта. Точно на сайте не будет рекламы "сенсационных" новостей, браузерных игр и прочей назойливой рекламы.</a><br />
    </div>
</div>
